<div class="maincontent">

<article class="article">
<h1 class="article-title">About BookStore</h1>
<p>This is the Website For Bookstore, online bookshop in Pakistan, InshaAllah we Introduce huge variety of New and Used books in all trade, children and academic categories at highly affordable prices. This is Just a 1st version of this BookStore for Web Development Project.</p>
</article>


</div>